streamlit==0.59
opencv-python==4.2.0.34
opencv-contrib-python
Cython
argparse
dill
fire
matplotlib==3.2.1
numba
psutil==5.7.0
pycocotools-fix
requests
scikit-image==0.17.2
scipy==1.4.1
slidingwindow==0.0.13
tqdm
terminado==0.8.3
tf-pose==0.1.1
tf-slim==1.2.0
git+https://github.com/ppwwyyxx/tensorpack.git