streamlit==0.59
opencv-python
opencv-contrib-python
apt-get install libsm6 libxext6 libxrender-dev
Cython
argparse
dill
fire
matplotlib
numba
psutil
pycocotools-fix
requests
scikit-image
scipy
slidingwindow
tqdm
git+https://github.com/ppwwyyxx/tensorpack.git