streamlit==0.59
libsm libxrender1 libfontconfig1
opencv-python
Cython
argparse
dill
fire
matplotlib
numba
psutil
pycocotools-fix
requests
scikit-image
scipy
slidingwindow
tqdm
git+https://github.com/ppwwyyxx/tensorpack.git